<%- include ( 'partials/header.ejs' ) %>
    <h1>To Do List</h1>
    </body>

    <form action="/add-bookmark" method="POST">
        <input id="todo-input" type="text" name="task">
        <input id="todo-deadline-input" type="text" name="deadline">
        <input id="add-todo" type="submit" value="Add ToDo">
    </form>

    <ul>
        <%todos.map((todo, index) => { %>
        <div id="todo-<%= index %>">
            <input type="checkbox" id="todo-check-<%= index %>" name="todo-check<%=todo.id%>">
            <label for ="todo-check<%=todo.id%>">Task: <%= todo.task %><br> Deadline: <%= todo.deadline %></label>
           <span>
                <form action="/todo<%=todo.id%>?_method=DELETE" method="POST">
                    <input id="delete-todo-<%= index %>" type="submit" value="Delete">
                </form>
                <form action="/edit-todo<%=todo.id%>" method="POST">
                    <input id="edit-todo-<%= index %>" type="submit" value="Edit">
                </form>   
            </span> 
        </div>
        <% }) %>
    </ul>
<%- include ( 'partials/footer.ejs' ) %>
